* {
    scroll-behavior: smooth;
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: #EBF2FA;
    font-family: 'Poppins', sans-serif;
}

*:focus {
    outline: 0;
    box-shadow: 0 0 10px #05668D;
}

a:focus {
    color: #05668D;
    font-weight: bolder;
}

button:focus {
    background-color: #05668D;
}

.page_container {
    max-height: 100%;
}

.nav_logo {
    padding-left: 5px;
    padding-bottom: 0;
    padding-top: 8px;
}

.logo {
    width: 50px;
}

.left_nav ul li a img {
    width: 50px;
}

ul {
    position: fixed;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 5px solid #A5BE00;
    background-color: #EBF2FA;
}

li {
    float: left;
}

li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

.right_nav {
    cursor: pointer;
    float: right;
}

.right_nav:hover a {
    transition: 0.5s ease;
    background-color: #05668D;
    color: rgb(217, 248, 11);
}

/* BOTTOM PART */
.bottom_container {
    background-image: url("../img/rubens-nguyen-489224-unsplash.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 65vh;
    padding-top: 50px;
}

.heading {
    padding-left: 2%;
    width: 70;
    font-size: 1.5rem;
}

#display_date {
    color: #000;
    font-size: 1.5em;
    font-family: 'Kaushan Script', cursive;
}

.article {
    text-align: center;
    font-weight: bolder;
    width: 50;
}

.heading_logo {
    width: 20%;
}

/* sign up div starts */
.sign_up_div {
    text-align: center;
    margin-top: 5%;
    font-style: italic;
    color: rgb(0, 0, 0);
    border-radius: 15px;
}

.sign_up_div p {
    color: #fff;
    font-weight: bolder;
}

/* sign up div ends */

/* SIGN UP BUTTON starts*/
#sign_up_button {
    color: white;
    background-color: #05668D;
    cursor: pointer;
    height: 50px;
    width: 30%;
    border-radius: 70px;
    border: none;
}

#sign_up_button:hover {
    background-color: #A5BE00;
    color: #000;
    transition: 1s ease;
}

/* sign up button ends */
.bottom2 {
    height: 100%;
    /* padding: 1%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom2 {
    z-index: 1;
    /* border-radius: 5px; */
    margin: auto;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-image: url('../img/Flat-Mountains2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(177, 190, 0, 0.301);
    border-top: 5px solid #A5BE00;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.287), 0 2px 10px 0 rgba(0, 0, 0, 0.26);
}

.open_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close_form {
    color: red;
    align-self: flex-end;
    cursor: pointer;
    margin-right: 15px;
    font-size: 2rem;
}

#form {
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    border-top: 6px solid #05668D;
    background-color: #EBF2FA;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.952), 0 2px 10px 0 rgba(0, 0, 0, 0.938);
}

input {
    font-family: 'Poppins', sans-serif;
    border: 1px solid #05668D;
    padding: 2%;
    width: auto;
    border-radius: 10px;
}

#forgot_password {
    color: #000;
    text-decoration: none;
}

#forgot_password:hover {
    color: #A5BE00;
}

p {
    margin: 0;

}

#show_password {
    margin: 0px;
    padding: 3px;
    width: 10%;
    background-color: #fff;
    border: 1px solid #05668D;
    cursor: pointer;
}


button#sign_in_button {
    color: white;
    background-color: #05668D;
    cursor: pointer;
    margin-top: 10%;
    height: 50px;
    width: 100%;
    border-radius: 20px;
    border: none;
}

button#sign_in_button:hover {
    transition: 0.6s;
    color: black;
    background-color: #A5BE00;
}

/* footer starts */
.footer_div {
    min-height: 8vh;
    display: flex;
    width: 100%;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    background-color: #A5BE00;
}

.social_links {
    display: flex;
    justify-content: space-evenly;
}

.social_links>span>a {
    color: #000;
    font-size: 2rem;
    padding: 0px 20px 0px 20px;
}

.fa-facebook:hover {
    transition: 1s ease;
    transform: rotate(30deg);
    color: blue;
}

.fa-github:hover {
    transition: 1s ease;
    transform: rotate(30deg);
}

.fa-twitter:hover {
    transition: 1s ease;
    transform: rotate(30deg);
    color: rgb(7, 226, 255);
}

.fa-linkedin:hover {
    transition: 0.5s ease;
    transform: rotate(30deg);
    color: rgb(7, 94, 207);
}

.copy_right {
    text-align: center;
}

/* footer ends */

/* javascript form validation starts*/
#validating_username {
    font-size: 0.7rem;
    color: red;
    background-color: rgb(235, 242, 250);
    font-weight: bolder;
    visibility: hidden;
}

#validating_password {
    font-size: 0.7rem;
    color: red;
    background-color: rgb(235, 242, 250);
    font-weight: bolder;
    visibility: hidden;
}

#incorrect {
    color: white;
    background-color: red;
    text-align: center;
    visibility: hidden;
}

/* javascript form validation ends */

/* Responsiveness */
@media all and (max-width:800px) {
    .bottom_container {
        display: flex;
        flex-direction: column;
    }

}

@media all and (max-width: 700px) {
    #display_date {
        font-size: 0.9em;
    }

}

@media all and (max-width:500px) {
    .heading {
        font-size: 1rem;
    }
}

@media all and (max-width: 355px) {
    .heading {
        font-size: 0.9rem;
    }

    #form {
        padding: 2%;
    }
}